body {
    background: rgb(79, 83, 93)
}

.fundo {
    width: 310px;
    height: 230px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(49, 57, 76);
    border-radius: 20px;
    border: 2px solid white;
    display: inline-block;
}

.btn-ctr[name="left"]{
    width: 50px;
    height: 50px;
    margin: 4px;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
}
.btn-ctr[name="right"]{
    width: 50px;
    height: 50px;
    margin: 4px;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
}
.btn-ctr[name="top"]{
    width: 50px;
    height: 50px;
    margin: 4px;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
}
.btn-ctr[name="bottom"]{
    width: 50px;
    height: 50px;
    margin: 4px;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
}
.btn-ctr[name="ampliador"]{
    width: 60px;
    height: 60px;
    margin: 4px;
    border-radius: 20px;
    background-color: white;
   display: inline-block;
    background-image: url("./imagens/icones/mais-controlador.png");
}
.btn-ctr[name="reduzir"]{
    width: 60px;
    height: 60px;
    margin: 4px;
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    background-image: url("./imagens/icones/menos-controlador.png");
}
.forma-l{
width: 35px;
height: 30px;
margin-left: 5px;
margin-top: 15px;
border-radius: 10px 0px 0px 10px;
background-color: white;
}
.forma-r{
    width: 35px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    }
    .forma-t{
        width: 30px;
        height: 35px;
        margin-left: 10px;
        margin-top: 8px;
        border-radius: 10px 10px 0px 0px;
        background-color: white;
        }
        .forma-b{
            width: 30px;
            height: 35px;
            margin-left: 10px;
            margin-top: 8px;
            border-radius: 0px 0px 10px 10px;
            background-color: white;
            }
.papel {
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.controlador {
    margin: auto;
    width: 300px;
    height: 135px;
    background-color: rgb(140, 118, 88);
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 4px;
}

.editor {
    width: 300px;
    height: 70px;
    border: 1px solid black;
    background-color: burlywood;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.btn-edt {
    width: 50px;
    height: 50px;
    margin: 4px;
    margin-left: 17px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

button[name="balde"] {
    background-image: url("./imagens/icones/balde-de-tinta.png");
}

button[name="texto"] {
    background-image: url("./imagens/icones/texto.png");
}

button[name="imagem"] {
    background-image: url("./imagens/icones/img.png");
}

button[name="emoji"] {
    background-image: url("./imagens/icones/emoji.png");
}

button[name="efeito"] {
    background-image: url("./imagens/icones/efeito.png");
}

.btn-ctr {
    width: 60px;
    height: 60px;
    margin: 4px;
    margin-left: 25px;
    cursor: pointer;
    border: none;

}

button[name="mais"] {
    background-image: url("./imagens/icones/mais-controlador.png");
}

button[name="menos"] {
    background-image: url("./imagens/icones/menos-controlador.png");
}

button[name="esticar"] {
    background-image: url("./imagens/icones/esticar-controlador.png");
}

button[name="rotacionar"] {
    background-image: url("./imagens/icones/rotaçao-controlador.png");
}

.opt {
    width: 270px;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    border-radius: 0px 0px 0px 10px;
}

.input {
    width: 210px;
    margin: 10px;
    height: 30px;
    font-size: 12px;

}
.fundo-efeito,
.fundo-emoji,
.fundo-imagem,
.fundo-texto,
.fundo-balde{
    display: none;
}

.btn-cor {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
}

button[name="c-1"] {
    background-color: white;
}

button[name="c-2"] {
    background-color: #009dff;
}

button[name="c-3"] {
    background-color: yellow;
}

button[name="c-4"] {
    background-color: purple;
}

button[name="c-5"] {
    background-color: rgb(252, 93, 250);
}

button[name="c-6"] {
    background-color: #387eaa;
}

button[name="c-7"] {
    background-color: rgb(72, 190, 72);
}

button[name="c-8"] {
    background-color: rgb(255, 38, 0);
}

button[name="c-9"] {
    background-color: rgb(210, 138, 4);
}

button[name="c-10"] {
    background-color: rgb(176, 146, 106);
}

button[name="c-11"] {
    background-color: gray;
}

button[name="c-12"] {
    background-color: black;
}

.fundo-balde {
    height: 120px;
    width: 410px;
    margin: 20px;
    background-color:wheat;
    margin-bottom: 10px;
    border-radius: 20px;
}
.fundo-texto{
    padding: 6px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
}
.btn-fonte{
    width: 125px;
    background-color: tomato;
    height: auto;
    padding: 5px;
    font-weight: bolder;
    font-size: 12px;
    border: none;
    margin-left: 5px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-fonte:hover{
    background-color: red;
    color: white;
}

.btn-texto-adicionar{
    margin-left: 5px;
    background-color: tomato;
    border-radius: 5px;
    border: none;
    color: white;
}
.btn-sublinhado,.btn-bold,.btn-italico,.btn-normal{
    margin-left: 7px;
    margin-bottom: 2px;
    display: inline-block;
}
.btn-bold{
    font-weight: bold;
}
.btn-bold:hover{
    color: red;
}
.btn-italico{
    font-style: italic;
}
.btn-italico:hover{
    color: red;
}
.btn-sublinhado{
    text-decoration:underline;
}
.btn-branco{
    background-color: black;
    color: white;
    margin-left: 4px;
    border: none;
}
.btn-sublinhado:hover{
    color: red;
}
.btn-normal:hover{
    color: red;
}

.fundo-imagem{
    width: 460px;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
    flex-wrap: wrap;
    background-color: rgb(140, 118, 88);
}
.img-imagem{
    background-color: saddlebrown;
    width: 100px;
    margin:5px;
}
.img-imagem:hover{
    background-color: rgb(96, 58, 31);
}


.fundo-emoji{
    width: 760px;
    height: 190px;
    margin: 10px;
    background-color: rgb(119, 98, 83);
    border-radius: 10px;
    margin-bottom: 20px;
}
.emj-emoji{
    width: 57px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
}
.emj-emoji:hover{
    background-color: rgb(207, 205, 204);
}

.fundo-efeito {
    width: 590px;
    height: 100px;
    background-color: white;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.btn-efeito{
    width: 100px;
    margin: 5px;
  
}
.btn-efeito-left{
    width: 40px;
    height: 15px;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid gray;
}
.btn-efeito-left:hover{
    background-color: silver;
}
.btn-efeito-right{
    width: 40px;
    height: 15px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid rgb(70, 62, 62);
}
.btn-efeito-right:hover{
    background-color: gray;
}
.valor-efeito{
    width: 40px;
  margin-left: 10px; 
  text-align: center;
}

.espaçotexto{
    width: auto;
    padding: 5px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
   display: block;
   position: absolute;
  
}
.espaçotexto:hover{
    border: 1px solid darkblue;
}
.espaço_texto_adaptavel{
    width: auto;
    text-align: center;
    height: 35px;
    border: none;
    position: absolute;
    background-color: transparent;
}
textarea{    background-color:transparent;
resize: none;}


.basetexto{
    width: auto;
    height:20px;
    background-color: rgba(218, 217, 217, 0.3);
    border: 1px solid black;
    margin-right: 5px;
}

.confirmtexto{
    width: 20px;
    height: 22px;
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    margin-top: 4px;
}

.excluirtexto{
    width: 20px;
    height: 22px;
    background-color: red;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
}


.botao_fonte{
    width: 20px;
    height: 22px;
    background-color: #387eaa;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}

.palavra_criada{
    font-size: 18px;
    width: 270px;
    height: 22px;
    border: 0px;
    resize: none;
    background-color: none;
    text-align: center;
}


.caixa{
    width: 100px;
    height: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
}

.imagem_criada{
    width: 200px;
    height: 100px;
    
}

.left-botao-palavra{
width: 30px;
height: 20px;
margin: 5px;
background-color: #6c7e8a;
border: none;
border-radius: 10px 0px 0px 10px;
}
.left-botao-palavra:hover{
    color: white;
}
.right-botao-palavra{
    width: 30px;
    height: 20px;
    margin: 5px;
    background-color: #6c7e8a;
    border: none;
    border-radius: 0px 10px 10px 0px;
    }
    .right-botao-palavra:hover{
        color: white;
    }
    .top-botao-palavra{
        width: 30px;
        height: 20px;
        margin: 5px;
        background-color: #6c7e8a;
        border: none;
        border-radius: 10px 10px 0px 0px;
        }
        .top-botao-palavra:hover{
            color: white;
        }
        .baixo-botao-palavra{
            width: 30px;
            height: 20px;
            margin: 5px;
            background-color: #6c7e8a;
            border: none;
            border-radius: 0px 0px 10px 10px;
            }
            .baixo-botao-palavra:hover{
                color: white;
            }

            .base_imagem_criada{
                width: auto;
                height: auto;
                padding: 5px;
                border: none;
                background-color: transparent;
            }

            .btn_imagem_left{
                width: 30px;
                height: 20px;
                background-color: tomato;
                border-radius: 10px 0px 0px 10px ;
                margin: 2px;
                
            }
            .btn_imagem_top{
                width: 30px;
                height: 20px;
                background-color: rgb(207, 87, 65);
                border-radius: 10px 10px 0px 0px ;
                margin: 2px;
            }
            .btn_imagem_right{
                width: 30px;
                height: 20px;
                background-color: tomato;
                border-radius: 0px 10px 10px 0px ;
                margin: 2px;
            }
            .btn_imagem_botao{
                width: 30px;
                height: 20px;
                background-color: rgb(207, 87, 65);
                border-radius: 0px 0px 10px 10px ;
                margin: 2px;
            }

            .confirme_imagem_criada{
                width: 30px;
                height: 20px;
                background-color: lightgreen;
                text-align: center;
                margin: 5px;
                border: 1px solid black;
                border-radius: 5px;
            }
            
            .img_especial{
                width: 100px;
            }
